<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-brand">
      Student Portal
    </div>
    <button class="navbar-toggler" type="button" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="w-100 d-md-none"></div>
    <div
      class="flex-grow-1"
      [class]="{ collapse: navOpen, 'navbar-collapse': navOpen }"
      id="navbarNav"
    >
      <ul
        class="navbar-nav bg-secondary my-2 my-md-0"
        routerLinkActive="bg-light"
      >
        <li
          class="nav-item"
          [routerLink]="['student']"
          routerLinkActive="text-dark"
        >
          <a class="nav-link text-dark">Students</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-secondary"
            [routerLink]="['student', 1]"
            routerLinkActive="text-dark"
          >
            Dashboard
          </a>
        </li>
        <li class="nav-item text-primary" routerLinkActive="active">
          <a
            class="nav-link text-secondary"
            [routerLink]="['student', 'regsiter']"
            routerLinkActive="text-dark"
          >
            Register
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
