<div class="container my-5">
  <div class="row align-items-center justify-content-center">
    <!-- Title -->
    <div class="col-8 col-sm-6">
      <h1 class="d-none d-md-block">Add a Student</h1>
      <h2 class="d-md-node">Add a Student</h2>
    </div>
    <a class="btn btn-primary col-3 col-sm-2" routerLink="/student">Back</a>
  </div>
</div>
<!-- Form -->
<form
  [formGroup]="studentForm"
  class="container needs-validation"
  (ngSubmit)="onSubmit()"
>
  <!-- Alert Success or Fail -->
  <div class="row justify-content-center">
    <div class="col-8">
      <div *ngIf="succsess" class="alert alert-success" role="alert">
        User Added Successfully
      </div>
      <div *ngIf="error" class="alert alert-danger" role="alert">
        Oops an Error Occured
      </div>
    </div>
  </div>

  <!-- Name Form Control -->
  <div class="form-row justify-content-center my-2">
    <div class="form-group col-12 col-sm-10 col-md-8">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        formControlName="name"
        [class]="{
          'form-control': true,
          'is-invalid': f.name.touched && f.name.errors
        }"
      />
      <div class="invalid-feedback">Please enter a proper name</div>
    </div>
  </div>

  <div class="form-row justify-content-center my-2">
    <!-- Roll No Form Control -->
    <div class="form-group col-12 col-sm-6 col-md-4">
      <label for="rollNo">Roll No</label>
      <input
        type="number"
        name="rollNo"
        formControlName="rollNo"
        [class]="{
          'form-control': true,
          'is-invalid': f.rollNo.touched && f.rollNo.errors
        }"
        min="0"
        max="5000"
      />
      <div class="invalid-feedback">
        Please enter a proper roll no
      </div>
    </div>

    <!-- Age Form Control -->
    <div class="form-group col-12 col-sm-6 col-md-4">
      <label for="age">Age</label>
      <input
        type="number"
        name="age"
        formControlName="age"
        [class]="{
          'form-control': true,
          'is-invalid': f.age.touched && f.age.errors
        }"
        min="13"
        max="100"
      />
      <div class="invalid-feedback">
        Please enter a proper age
      </div>
    </div>
  </div>

  <!-- Gender Form Control -->
  <div class="form-row justify-content-center my-2">
    <div class="col-3 col-sm-1">
      Gender :
    </div>
    <div class="col-9 col-sm-7">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          value="male"
          formControlName="gender"
        />
        <label class="form-check-label" for="gender-male">
          Male
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          value="female"
          formControlName="gender"
        />
        <label class="form-check-label" for="gender-female">
          Female
        </label>
      </div>
    </div>
  </div>
  <!-- Email Form Control -->
  <div class="form-row justify-content-center my-2">
    <div class="form-group col-12 col-sm-8 col-md-5">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        formControlName="email"
        [class]="{
          'form-control': true,
          'is-invalid': f.email.touched && f.email.errors
        }"
      />
      <div class="invalid-feedback">
        Please enter a appropriate email
      </div>
    </div>
    <!-- Date Form Control -->
    <div class="form-group col-12 col-sm-4 col-md-3">
      <label for="date">Date</label>
      <input
        type="date"
        name="date"
        formControlName="date"
        [class]="{
          'form-control': true,
          'is-invalid': f.date.touched && f.date.errors
        }"
      />
      <div class="invalid-feedback">
        Please provide a date
      </div>
    </div>
  </div>

  <!-- Submit Button or Update Button -->
  <div class="form-row justify-content-center my-4">
    <button
      *ngIf="!loading"
      class="btn btn-dark w-50 w-sm-25"
      type="submit"
      [disabled]="!studentForm.valid"
    >
      {{ value ? "Update a Student" : "Add a Student" }}
    </button>
    <button
      *ngIf="loading"
      class="btn btn-dark w-25"
      type="submit"
      disabled="true"
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      Adding ...
    </button>
  </div>
</form>
